[Unit]
Description=Start HyperCar POSIX app
ConditionPathExists=/dev/xen_mem

[Service]
ExecStart=/usr/bin/hypercar-app

[Install]
WantedBy=multi-user.target